@use 'mixin';

@function px ($px){
    @return calc($px/$designWidth*10)rem;
}
$designWidth: 640;

* {
    margin: 0;
    padding: 0;
  }
  .child {
    background: #ddd;
  }
body{
    font-size: 16px;
}
  .child {
    width: px(320);
    height: px(160);
    float: left;
    border: 1px solid red;
    margin: px(40) px(40);
    font-size: 1.2rem;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }




